<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
 </head>
<body>
      <div class="container">
		<section class="notify">
          <textarea id="notifyMessage">HTML5 Realtime Push Notification</textarea><br />
          <button class="btn info">Notify</button>
        </section>
    </div> <!-- /container -->

</body>
</html>