<!DOCTYPE html>
<html>
  <head>
   
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<% if user_signed_in? %> 
  <div class="center hero-unit">
  <h1>Welcome to PetBook</h1>
  <h2> you are signed in</h2>
   <%= link_to "see who else is here", users_path, class: "btn btn-large btn-primary" %>
</div>
<%end%>
<% if !user_signed_in? %> 
<div class="center hero-unit">

  
        <div id="slideshow">  
            <div class="slides">  
                <ul>  
                    <li id="slide-one">  
                        
                    <div>
     <img src="https://lh6.googleusercontent.com/-wUe2TDicTkc/UBNdi8LzzgI/AAAAAAAAAXc/gBvBKjBRHjk/s552/1.jpeg">
   </div>
                    </li>  
                    <li id="slide-two">  
                       
                        <div>
     <img src="https://lh3.googleusercontent.com/-HCUJvXKGGBc/UBNdi24YS-I/AAAAAAAAAXo/5fodI3GEpVw/s500/3.jpeg">
   </div>  
                    </li>     
                    <li id="slide-three">  
                        
                      <div>
     <img src="https://lh5.googleusercontent.com/-tw9ZyRqsXOc/UBNdixgm83I/AAAAAAAAAXg/sQ2eHeCyAn0/s640/2.jpeg">
   </div>  
                    </li>                  
                </ul>  
            </div>  
            <ul class="slides-nav">  
                <li><a href="#slide-one">mia</a></li>  
                <li><a href="#slide-two">mia</a></li>  
                <li><a href="#slide-three">mia</a></li>  
            </ul>  
        </div>   
 
   
    

  
  </div>
<%end%>

</html>