<%=link_to 'received','#',:onclick=>"$('#received_messages').show();
                                     $('#sent_messages').hide();"%>

<%=link_to 'sent','#',:onclick=>"$('#received_messages').hide();
                                     $('#sent_messages').show();"%>

<div id="messages">
	<div id="received_messages">
		<%= render 'incoming'%>
	</div>
	
	<div id="sent_messages" style="display:none">
	<%= render 'outgoing'%>
	</div>
</div>
