<ul>
<div id="outbox">
  <%= outgoing.title%><br/>
   send by <%=link_to outgoing.user.name,user_path(outgoing.user) unless outgoing.user.nil? %> 
    <%= time_ago_in_words(outgoing.created_at) %> ago.
    
  <%=link_to 'show', outgoing_path(outgoing)%>
 
 
 
 </div>

</ul>