/*@import "bootstrap";


/**********************unsigned main page******************************/



body
{ margin:0;
  padding:0;
  background:#ddd;
}
#container {

margin :1em auto;
width:1100px;
background:#fff;
}
#header{
padding:20px;


}


#horizontal_nav { 
background: #9F3; 
height:30px;}
#feeds{
float:left;
width:750px;height:500px;
background:#9FC;
text-align:center;
}
#links{
float :right;
width:340px;
height:500px;
background:#6F9;
text-align: center; 

}

#footer{
clear:both;
background:#FF9;
text-align: center; 
}

#mainnav{
float:right;


}
/**********************end of unsigned main page******************************/
/**********************show micropost page******************************/
div#post_center{
float:center;

background:#9FC;
text-align:center;

}
div#comment{
float:center;

background:#6F9;
text-align:center;

}

div#comment_form{
float:center;

background:#6F9;
text-align:center;

}
/**********************end of micropost page******************************/
/**********************new/edit of micropost page******************************/
div#post_form_container{
float:center;
background:#9FC;
text-align:center;
}
div#post_form{
float:center;
width:1300px;
margin:10px;

text-align:center;
}
/**********************end of new/edit of micropost page******************************/
/**********************show album page******************************/
div#album_container{
float:center;
width:1100px;
height:500px;
background:#9FC;
text-align:center;
}
div#thumbs{
float:left;
width:250px;
background:#9FC;
text-align:center;

}
/**********************end of show album page******************************/

/**********************show photo page******************************/

div#photo_frame{
float:center;
width:1100px;
height:500px;
background:#9FC;
text-align:center;

}
div#photo_center{
float:center;
background:#9FC;
text-align:center;
padding:100px;

}
/**********************end of show photo page******************************/
.hideTextArea{
visibility: hidden; 
}
/**********************start of mailbox page******************************/
div#inbox{


}

div#outbox{

}


h1{

font:30px Papyrus;
}
h2{

font:italic 20px Papyrus;
}


p#name{
font:italic bold 20px Papyrus;
color:green;
margin-left:20px;
}


header#navigation{

text-align:right;
margin-top:-20px;
}

#brand{
text-align:left;
margin-left:40px;
text-decoration:none;
}
#sign_in{

width:600px;
height:200px;
padding:4px;
border:1px solid lightgreen;
margin:50px;

}



h1#welcome{
color:green;
}
h2#sign_in_h2{
color:green;
}
#f_info{
	border:solid 0px #000000;
	position: fixed;
	top:20%;
	left:120%;
    margin-left:-381px;

}
.edit_account_info{
color:lightgreen;
text-decoration: none;
margin-left:130px;
margin-top:-40px;
position:absolute;
}
.update{
color:lightgreen;
text-decoration: none;
margin-left:250px;
margin-top:-40px;
position:absolute;
}

a.back{

color:lightgreen;
text-decoration: none;
margin:30px;
margin-top:-60px;
position:absolute;

}


.unsigned_center{
	padding: 60px;
	margin-bottom: 30px;
	background-color: rgba(127,255,0,0.2);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.avatar{

padding:10px;
border:5px solid lightgreen;
width:600px;
margin-left:300px;
}




.fadein { 
position:relative; 
width:500px; 
height:332px; }
.fadein img { 
position:absolute; 
left:140px; 
top:10px; 
}

.go_to{
color:green;
font-size: 18px;
}

.test{
 border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   background-color: lightgreen;
    padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
a.down{

color:lightgreen;
text-decoration: none;

}


.about{
position:fixed;
bottom:-0px;
margin-left:250px;
}
a.about1{
color:lightgreen;
text-decoration: none;
padding-left:10px;
}

.feed{
padding: 60px;
	margin-bottom: 30px;
	background-color: rgba(127,255,0,0.2);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px

}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.stats {


width: 200px; 
height: 190px; 
position:absolute;
 
right: -40pt; 
top: 120px; 
margin: 0px; 
display: block;

  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      
    }
  }
  strong {
    display: block;
  }
}