/*@import "bootstrap";

/* universal */
h1{

font:30px Papyrus;
}
h2{

font:italic 20px Papyrus;
}
header#navigation{

text-align:right;
margin-top:-20px;
}

#brand{
text-align:left;
margin-left:40px;

}
#sign_in{

width:250px;
padding:10px;
border:5px solid lightgreen;
margin:10px;
}
h1#welcome{
color:green;
}
h2#sign_in_h2{
color:green;
}
#f_info{
	border:solid 0px #000000;
	position: fixed;
	top:20%;
	left:120%;
    margin-left:-381px;

}

.unsigned_center{
	padding: 60px;
	margin-bottom: 30px;
	background-color: rgba(127,255,0,0.2);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}





.fadein { 
position:relative; 
width:500px; 
height:332px; }
.fadein img { 
position:absolute; 
left:140px; 
top:10px; 
}

.go_to{
color:green;
font-size: 18px;
}

.test{
 border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   background-color: lightgreen;
    padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
a.down{

color:lightgreen;
text-decoration: none;
}


.about{
position:absolute;
bottom:-40px;
margin-left:250px;
}
a.about1{
color:lightgreen;
text-decoration: none;
padding-left:10px;
}
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      
    }
  }
  strong {
    display: block;
  }
}