#border{
visibility:hidden;
}











.parent {
   
 	height:auto;
 	width:220px;
 	
 	float:right;
 	
  
}
.child {
    opacity: 0;
    color: #000;
  
    
    }
.child:hover {
   opacity: 1.0;
    text-decoration: underline;
    cursor: pointer;
    }
.parent:hover > .child {
    opacity: 1.0;
}

div#myCarousel{
width:500px;
height:400px;

}
#event{
width:200px;
height:200px;
float:right;
}

.post_block{
width:300px;
border-top-width: 4px;
border-bottom-width: 4px;
border-top-style: double;
border-bottom-style: double;
border-top-color: #E1A60A;
border-bottom-color: #E1A60A;
padding: 8px 0px;
overflow:hidden;
height:auto;
margin-bottom:5px;
}


.comment_content{
display:none;
}

#user_pic{
float:left;


}
#comment_form{

}
#photos{
float:left;
margin-right:20px;
}