#super-container
{
	margin: 0 auto;
	width: 1370px;
	background: #fff;
}

header{
background-image:url("https://lh6.googleusercontent.com/-gcFSeSMNdjg/UOaQthhZMBI/AAAAAAAAAl8/OoLFc2Sjk_E/s760/Screen%2520shot%25202013-01-04%2520at%252012.19.08%2520AM.png");
background-size:500px 120px;
background-repeat:repeat;
padding: 20px;

h1{
color:olive;
margin: 0;
}

}


nav {
float: left;
width: 1370px;
background: #333;
border-radius:10px; //this produce a rounded corner
background:rgba(216,131,74,0.5);
border:1px solid #cccccc;

ul {
margin: 0;
padding: 0;
}

li {
list-style-type: none;
display: inline;
}

a{
display: block;
float: left;
padding: 5px 10px;
color: #fff;
text-decoration: none;
border-right: 1px solid #fff;
}
}



aside
{
float: right;
width: 240px;
padding: 20px 0;
margin: 0 20px 0 0;
display: inline;
#userInfo { margin: 0; }
}	


section{

margin: 0 auto;
width: 1370px;
background: #fff;
	
	
#content{

clear: left;
float: left;
width: 560px;
padding: 20px 0;
margin: 0 0 0 30px;
display: inline;
}	
}


footer{
   
	clear: both;
	background:rgba(216,131,74,0.5);
	text-align: center;
	border-radius:5px; 
	padding: 10px;
	height: 1%;
}


