<nav>
<ul>
<li><%=link_to "Home", root_url%></li>
<li><%=link_to "Feeds", :controller=>"users",:action=>"feed",:id=>current_user.id%></li>
<li><%=link_to "My Page", :controller=>"users",:action=>"show",:id=>current_user.id%></li>
<li><a href="#">Market</a></li>
<li><a href="#">Park</a></li>
</ul>
</nav>